<h2>List Employees</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employees">
      <td>{{ employee.id }}</td>
      <td>{{ employee.firstName }}</td>
      <td>{{ employee.lastName }}</td>
      <td>{{ employee.email }}</td>
      <td>
        <button class="btn btn-info" [routerLink]="['/update-employee', employee.id]">Update</button>
        <button class="btn btn-danger m-lg-3" (click)="deleteEmployee(employee.id)" >Delete</button>
        <button class="btn btn-warning m-lg-3"  [routerLink]="['/details-employee', employee.id]" >Details</button>
      </td>
    </tr>
  </tbody>


</table>
